<%- include('../partials/header.ejs', {title})%>

    <!-- partial included to put a banner on all skills/show views -->
    <%- include('../partials/jumbotron.ejs') %>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href=""><%= skill.skill %></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/skills">BACK TO SKILLS</a>
        </li>
    </ul>


    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= skill.skill%></h5>
          <h6 class="card-subtitle mb-2 text-muted">Learned at: <%= skill.learnedAt%></h6>
          <p class="card-text"><%= skill.furtherInfo%></p>
          <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-primary">DELETE SKILL</button>
          </form>
          <br>
          <form>
              <a href="/skills/<%= skill.id %>/edit" class="btn btn-primary">EDIT SKILL</a>
          </form>
        </div>
    </div>

<%- include('../partials/footer.ejs')%>